$primary: #304ffe

body
  background: #f5f5f5

.navbar
  padding: 0rem 1rem 0rem 0rem

.navbar-light
  background: #ffffff


.navbar-light .navbar-brand, .navbar-light .navbar-toggler
  color: #ffffff

.navbar-brand
  padding: 20px
  background: $primary


.fa-logout
  border-left: 5px solid #dedede
  padding-left: 5px

#panel-content
  margin-top: 100px

i
  color: $primary

.breadcrumb
  background: #f5f5f5
  border: 1px solid #dedede
  margin-top: 20px

.form-inline button
  margin-top: 20px

.pagination-table
  margin: 20px 20px 20px
  li
    a
      color: black
